<% if book.favorited_by?(current_user) %>
  <%= link_to book_favorites_path(book), method: :delete, class: "favorites", remote: true   do %>
    <p class = "text-danger">♥<%= book.favorites.count %></p>
  <% end %>
<% else %>
  <%= link_to book_favorites_path(book), method: :post, class: "favorites", remote: true  do %>
    <p class = "text-primary">♥<%= book.favorites.count %></p>
  <% end %>
<% end %>